.headerText {
  color: #31B2EA;
  font-size: 22px;
  font-weight: 700;
  padding-top: 2rem;
}

.buttonContainer {
  display: block !important;
  margin: auto;
  width: 100%;
  padding-top: 5rem;
}

.homeButton {
  width: 12vw;
  margin: 1rem;
  background-color: #FFFFFF;
  height: 5vh;
  z-index: 100;
  border-radius: 8px;
  border: solid 1px #31B2EA;
  cursor: pointer;
}

.buttonText {
  color: #31B2EA;
  font-size: 15px;
}

/* mobile display css */

@media screen and (max-width: 468px) {
  .homeButton {
    width: 45vw;
  }
}