@font-face {
  font-family: "Guardian Sans Light", sans-serif;
  src: url('../src/assets/fonts/GuardianSansRegular.otf');
}

body {
  margin: 0;
  font-family: "Guardian Sans Light", sans-serif!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
